<template>
  <div class="text-center  mt-5">
    <div class='ui three column centered grid'>
      <div class='column'>
        <todo-list v-bind:todos="todos"></todo-list>
        <create-todo v-on:create-todo="createTodo"></create-todo>
      </div>
    </div>
  
</div>
   
</template>

<script>
  import { mapGetters } from 'vuex'
  import sweetalert from 'sweetalert';
import TodoList from '../components/TodoList';
import CreateTodo from '../components/CreateTodo';

export default {
  name: 'Home',
  computed: mapGetters(),
  components: {
    TodoList,
    CreateTodo,
  },
  data() {
    return {
      todos: [{
        title: '2021-01-15',
        project: 'Project A',
        done: false,
        status: 'inactive'
      }, {
        title: '2021-01-16',
        project: 'Project B',
        done: true,
         status: 'active'
      }, {
        title: '2021-01-17',
        project: 'Project C',
        done: false,
         status: 'inactive'
      }],
    };
  },
  methods: {
    createTodo(newTodo) {
      this.todos.push(newTodo);
      sweetalert('Success!', 'To-Do created!', 'success');
    },
  },
};
</script>


<style>
/* Sticky footer styles -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
margin-bottom: 80px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px; /* Set the fixed height of the footer here */
  line-height: 80px; /* Vertically center the text there */
  background-color: #fafafa;
}
</style>


