<template>
  <div class='ui basic content center aligned segment'>
    <button class='ui basic button icon' v-on:click="openForm" v-show="!isCreating">
     
      <add-btn></add-btn>
    </button>
    <div class='ui centered card' v-show="isCreating">
      <div class='content'>
        <div class='ui form'>
          <div class='field'>
            <label>Date</label>
            <b-form-datepicker id="example-datepicker" v-model="titleText" class="mb-2"></b-form-datepicker>
           
          </div>
          <div class='field'>
            <label>Task Name</label>
            <input v-model="projectText" type='text'>
          </div>
          <div class='field'>
            <label>Status</label>
             <b-form-select v-model="done" :options="options"></b-form-select>
          </div>
          <div class='ui two button attached buttons'>
            <button class='ui basic blue button' v-on:click="sendForm()">
              Create
            </button>
            <button class='ui basic red button' v-on:click="closeForm">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AddBtn from '../components/AddBtn';
export default {
    components: {
        AddBtn
  },
  data() {
    return {
      titleText: '',
      projectText: '',
      isCreating: false,
      done: null,
        options: [
          { value: null, text: 'Please select an option' },
          { value: true, text: 'Active' },
          { value: false, text: 'Inactive' },
        ]
    };
  },
  methods: {
    openForm() {
      this.isCreating = true;
    },
    closeForm() {
      this.isCreating = false;
    },
    sendForm() {
      if (this.titleText.length > 0 && this.projectText.length > 0 ) {
        const title = this.titleText;
        const project = this.projectText;
        if(this.done == null){
          this.done = false
        }
        const done = this.done;
        this.$emit('create-todo', {
          title,
          project,
          done,
        });
        this.titleText = '';
        this.projectText = '';
        this.done = null;
        this.isCreating = false;
      }
    },
  },
};
</script>
