<template>
  <div class="mb-3">
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand :to="{ name: 'home' }">Wordit</b-navbar-brand>
    </b-navbar>
  </div>
</template>
<script>


export default {

}
</script>
