@import '~bootstrap';
@import '~bootstrap-vue';

p, li {
  font-size: 1.3rem;
}

.form-control:disabled, .form-control[readonly] { 
    background-color: #fff;
}

.textareashowhide{
    overflow-y: hidden;
    line-height: 1.5;

}
.red-validation{
    color:red;
    margin: 5px 5px;
}
.border-none{
    border: 1px solid #ffffff; 
}

/*listname and buttons*/
.margin-5{
    margin: 5px 5px;
}
.list-name{
    word-break: break-word;
}
@media(max-width:567px) {
    .share-buttons button, .share-buttons  .btn-group{
        float: right;    
        border-color: #d2d2d2;
    }
}
@media(min-width:767px) { 
    .share-buttons{
        #share-link-btn, .preview-icon{
            vertical-align: middle
        }
    }
}
.share-icon-mobile{   
    display: none;
}
.share-icon-ipad{   
    display: none;
}
.share-icon-web{
    display: block;
}
.small-button button {
    font-size: 13px;
}

@media(min-width:767px) and (max-width:1024px)   { 

    .share-icon-mobile{
        display: none! important;
    }
    .share-icon-web{
        display: none! important;
    }
    .share-icon-ipad{
        display: block! important;
    }

}
@media(max-width:767px) {
    .share-buttons button, .share-buttons  .btn-group{
        vertical-align: text-bottom;
        border-color: #d2d2d2;
    }
    .share-icon-mobile{
        display: block! important;
    }
    .share-icon-web{
        display: none! important;
    }
    .share-icon-ipad{
        display: none! important;
    }
    .share-icon-mobile{
        .list-container{
            width: 70%;
        }
        .share-buttons{
            width: 30%;
            text-align: right;
            button{
                font-size: 13px;
            }

            #share-link-btn, .preview-icon{
                vertical-align: 0px;
            }
        }
    }
}
@media only screen and (width:320px) and (orientation : portrait) {
    .format-buttons{
        .margin-5{
            margin: 2px 2px;
        }
    }
}
.vertical-middle{
    vertical-align: middle! important;
}
#share-link-btn, .preview-icon{
    cursor: pointer;
}
.edit-delete-container{
    display: flex;
    margin-left: 5px;
}
.hide-class .hide-card-body , .hide-button{
    // display: none;
    position: absolute !important;
    //   opacity: 1;
    top: -9999px !important;
    left: -9999px !important;
}
#copyText{
    opacity: 0;
    cursor: default;
}


.brand h3 {
    color: #47b784;
    font-size: 2em
}

.brand h3 span {
    color: #36495d
}

.btn-primary {
    box-shadow: 2px 2px 2px #d2d2d2;
    background-color: #6f8aa7;
    padding: .5em 2em;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: all .3s ease
}

.btn-primary:hover {
    background-color: #47b784
}

.comment-list {
    padding: 1em 0
}

.comment-list ul {
    margin: 0;
    padding: 1em
}

.comment-list li {
    list-style: none;
    text-align: left;
    overflow: hidden;
    margin-bottom: 2em;
    padding: .4em
}

.comment-list .profile {
    width: 80px;
    float: left
}

.comment-list .profile img {
    border-radius: 50%;
    border: 2px solid #fff;
    width: 48px;
    height: 48px;
    background-color: #ddd;
    box-shadow: 0 0 5px #ddd
}

.comment-list .msg {
    // width: 86%;
    width: 100%;
    float: left;
    background-color: #fff;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, .05);
    position: relative
}

.comment-list .msg-body {
    padding: .8em;
    color: #666;
    line-height: 1.5
}

.comment-list .msg-body p:last-child {
    margin-bottom: 0
}

.comment-list .msg-body:after {
    content: " ";
    position: absolute;
    left: -13px;
    top: 0;
    border: 14px solid;
    border-color: #fff transparent transparent
}

.comment-list .name {
    margin: 0;
    color: #999;
    font-weight: 700;
    font-size: .8em
}

.comment-list .date {
    float: right
}

@media(max-width:1200px) {
    #app,
    .comment-list .msg {
        // width: 80%
        width: 100%;
    }
}

@media(max-width:600px) {
    #app {
        width: 95%;
        margin: 2rem auto
    }
    .brand img {
        width: 80px
    }
    .brand h3 {
        font-size: 1.6em
    }
    .comment-list .msg {
        // width: 70%
        width: 100%;
    }
}

.spinner {
    width: 20px;
    height: 20px;
    background-color: #47b784;
    display: inline-block;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    to {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        background-color: #47b784
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        background-color: #36495d
    }
    to {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        background-color: #47b784
    }
}
// comment-box
.comment-box {
    background-color: #fff;
    width: 100%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1)
}

.comment-box form {
    padding: 1rem
}
.comment-box input{
    margin:10px 10px;   
}
.comment-box input,
.comment-box textarea {
    font-size: .8em;
    width: 97.3%;
    padding: .6em;
    border: 1px solid #eee;
    background-color: #f7f7f7;
    display: block;
    margin-bottom: 1em;
    font-family: Raleway, sans-serif;
    transition: all .3s ease
}

.comment-box input:focus,
.comment-box textarea:focus {
    border-color: #47b784;
    outline: none;
    box-shadow: inset 0 0 3px #ddd
}

.comment-box input[type=submit] {
    margin-bottom: 0;
    width: 30%;
    background-color: #47b784;
    color: #fff;
    border-color: #47b784;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}
.comment-box input[type=reset]{
    width: 30%;
    display: inline-block;
}
.comment-box input[type=submit]:focus {
    background-color: #36495d
}

.comment-box input[type=submit]:disabled {
    opacity: .6
}

#comment {
    position: relative;
    margin-bottom:50px;
}

#comment .spinner {
    margin-top: 5em;
    z-index: 999
}

#comment .loader {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 100%, .8);
    z-index: 2
} 
.categorieslist { 
    max-width:250px;
    margin: 5px 5px;
/*    background-image:linear-gradient(45deg, transparent 50%, black 60%),linear-gradient(135deg, black 40%, transparent 50%) !important;
    background-position: calc(100% - 28px) 14px, calc(100% - 20px) 14px, 100% 0;
  background-size: 8px 8px, 8px 8px;
    
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;*/

}
.list-group-item + .list-group-item {
    border-top-width: 0;
}

.list-group-item{
    margin-top: 18px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding-right: 0px;
}
// color schemes

// .blue{
//     .format-buttons{
//         button{
//             background-color: blue;
//         }
//     }
//     .share-buttons{
//         .btn-group{
//             button{
//                 background-color: blue;
//             }
//         }
//     }
// }
// .grey{
//     .format-buttons{
//         button{
//             background-color: grey;
//         }
//     }
//     .share-buttons{
//         .btn-group{
//             button{
//                 background-color: grey;
//             }
//         }
//     }
// }
// .purple{
//     .format-buttons{
//         button{
//             background-color: purple;
//         }
//     }
//     .share-buttons{
//         .btn-group{
//             button{
//                 background-color: purple;
//             }
//         }
//     }
// }

//Overlay Content
.underline {
    text-decoration: underline;
    }
    .element {
      background-color: #40a6ff;
      opacity: .85;
      padding: 20px;
      border-radius: 10px;
      color: rgba(255, 255, 255, 0.9);
      position: absolute;
      top: 50;
      right: 50;
      width: 5rem;
      height: 5rem;
    }
    
    /* The Overlay (background) */
    .overlay {
      /* Height & width depends on how you want to reveal the overlay (see JS below) */    
      height: 100%;
      width: 0;
      position: fixed; /* Stay in place */
      z-index: 9999; /* Sit on top */
      left: 0;
      top: 0;
      background-color: #40a6ff;
      /*background-color: rgb(0,0,0); Black fallback color */
      /*background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
      overflow-x: hidden; /* Disable horizontal scroll */
      transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }
    
    /* Position the content inside the overlay */
    .overlay-content {
      position: relative;
      top: 5%; /* 25% from the top */
      width: 95%; /* 100% width */
      text-align: center; /* Centered text/links */
      margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    }
    
    /* The navigation links inside the overlay */
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block; /* Display block instead of inline */
      transition: 0.3s; /* Transition effects on hover (color) */
    }
    
    /* When you mouse over the navigation links, change their color */
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    
    /* Position the close button (top right corner) */
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
    
    /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
    @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
      .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
      }
    }
    .mb-20{
        margin-bottom: 20px;
    } 
    .contact-container{
        position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 20px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #3047EC;
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);
        .contact-button{
            color:#fff;
            display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    transition: transform 100ms linear, opacity 80ms linear;
        }
    }
    .border-dark{
    border: 1px solid #343a40
}