<template>
    <b-container>
        <site-header />
        <router-view />
    </b-container>
</template>

<script>
    import SiteHeader from '@/components/SiteHeader'

            export default {
                components: {SiteHeader},
            }
</script>
